@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0; }

a {
  text-decoration: none;
  color: white; }

.header {
  width: 100%;
  min-height: 880px;
  background: #6500ff url(../img/background.png) no-repeat center;
  color: white;
  background-position: bottom; }

.main {
  min-height: 1000px; }

.container {
  width: 75%;
  max-width: 1350px;
  margin: 0 auto; }

@media (max-width: 1199px) {
  .container {
    max-width: 960px; } }
@media (max-width: 991px) {
  .container {
    max-width: 750px; } }
@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 0 30px; } }
body {
  font-family: "Poppins", sans-serif; }

.button {
  text-align: center;
  padding: 13px 32px;
  border: none;
  font-size: 18px;
  display: inline-block;
  border-radius: 23px;
  background-color: #ff5f60;
  color: white;
  font-family: "Raleway", sans-serif; }
  .button span {
    margin: 10px; }

input {
  border-radius: 23px;
  padding: 10px;
  text-align: center;
  font-size: 13px;
  position: relative;
  border: none;
  padding: 16px 82px 16px 31px;
  background: #fff url(../img/bg-input.png) no-repeat right; }

.navbar {
  padding-top: 50px; }
  .navbar-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px; }
  .navbar__btn {
    margin-left: 110px;
    margin-right: 100px; }
  .navbar__list {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .navbar__list__item {
      margin-left: 5%;
      font-size: 18px; }
  .navbar__logo {
    margin-right: 20%; }

@media (max-width: 1000px) {
  .navbar-wrap {
    flex-direction: column;
    align-items: flex-start; }
  .navbar__list {
    flex-direction: column;
    margin: 0; }
    .navbar__list__item {
      margin-top: 10px; }
  .navbar__btn {
    margin-left: 0;
    margin-top: 10px; } }
.hero {
  display: flex;
  margin-top: 150px; }
  .hero-text {
    padding-top: 100px;
    display: flex;
    flex-direction: column; }
    .hero-text__title {
      font-size: 70px;
      line-height: 75px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
      margin: 0; }
    .hero-text__subtitle {
      margin-top: 30px;
      margin-bottom: 50px;
      line-height: 30px;
      margin-right: 45px; }
    .hero-text__btn {
      font-weight: bold;
      width: 150px; }

@media (max-width: 1199px) {
  .hero {
    flex-direction: column;
    align-items: center; }
    .hero-text {
      align-items: center;
      padding: 30px; }
      .hero-text__btn {
        margin-top: 20px; }
      .hero-text__title {
        font-size: 40px; }
      .hero-text__subtitle {
        max-width: 300px;
        text-align: center;
        margin: 0; } }
@media (max-width: 950px) {
  .hero-wrap {
    align-items: center;
    line-height: 30px; }
    .hero-wrap__subtitle {
      margin-bottom: 30px;
      text-align: center;
      margin-right: 0; }
  .hero img {
    width: 300px; } }
@media (max-width: 768px) {
  .hero {
    margin-top: 0; }
    .hero__bg {
      margin-top: 30px; } }
.main {
  color: black; }
  .main__slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 539px;
    margin-right: 116px; }
    .main__slider-description {
      font-size: 18px;
      line-height: 30px;
      font-style: italic; }
    .main__slider-author {
      margin-top: 18px;
      font-size: 16px;
      color: #fb8122;
      font-weight: bold; }
    .main__slider-wrapper {
      display: flex;
      justify-content: flex-end;
      margin-top: 46px; }
    .main__slider-btn {
      margin-top: 30px; }
  .main__form {
    position: absolute;
    width: 400px;
    left: 93px;
    top: -100px;
    background-color: #ff5f60;
    border-radius: 10px;
    color: white; }
    .main__form__wrapper {
      padding: 50px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between; }
      .main__form__wrapper::before {
        background-color: #183251;
        width: 100%;
        position: absolute; }
    .main__form__title {
      font-size: 30px;
      position: relative;
      margin-bottom: 43px; }
      .main__form__title::before {
        content: "";
        position: absolute;
        width: 76px;
        bottom: -18px;
        left: 40%;
        padding-top: 2px;
        background-color: #ffffff; }
    .main__form__subtitle {
      margin-bottom: 14px;
      font-size: 20px;
      opacity: 0.5; }
    .main__form__input {
      position: relative; }
      .main__form__input::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 21px;
        bottom: 13px;
        right: 22px;
        background: url("../img/telegram.png") no-repeat;
        background-size: cover; }
  .main__content {
    display: flex;
    justify-content: space-between; }
    .main__content__image {
      max-width: 45%;
      height: 500px; }
    .main__content__text {
      max-width: 45%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      color: black;
      font-family: "Raleway", sans-serif; }
      .main__content__text__header {
        font-size: 36px; }
      .main__content__text__description {
        color: #8c8c8c;
        font-size: 18px; }
    .main__content_first {
      margin-top: 250px; }
    .main__content_second {
      padding-top: 160px; }
    .main__content img {
      width: 100%; }
  .main__text__btn {
    width: 150px; }
  .main_first {
    background: #ffffff url(../img/man-woman-bg.png) no-repeat center;
    background-position: 93% 100px;
    position: relative; }

@media (max-width: 1550px) {
  .main__form {
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px; }
  .main__slider {
    margin: auto; }
    .main__slider-wrapper {
      justify-content: center; } }
@media (max-width: 1199px) {
  .main__content {
    flex-direction: column;
    align-items: center; }
    .main__content__text {
      text-align: center;
      align-items: center; }
    .main__content * {
      margin-top: 20px; }
    .main__content_first {
      margin-top: 100px; }
    .main__content_second {
      padding-top: 0; }
    .main__content__image {
      width: auto;
      height: auto; } }
@media (max-width: 950px) {
  .main__content img {
    width: 300px; } }
.education {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 217px;
  padding: 0 20px; }
  .education__item {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
    align-items: center;
    max-width: 322px; }
    .education__item__title {
      font-size: 25px;
      font-weight: 600;
      color: #333;
      margin-bottom: 17px; }
    .education__item__description {
      color: #8c8c8c;
      font-size: 17px;
      text-align: center;
      line-height: 27px; }

@media (max-width: 1199px) {
  .education {
    margin-top: 50px;
    flex-direction: column; } }
.company-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 115px;
  min-height: 70px;
  border-top: 2px solid #f3f0ff;
  color: #c9c9c9;
  font-size: 14px; }
  .company-info__safe-info span {
    margin-right: 18px; }
  .company-info__nav {
    display: flex;
    justify-content: space-between;
    padding-left: 277px;
    width: 100%; }

@media (max-width: 1199px) {
  .company-info__safe-info {
    display: flex;
    flex-direction: column; }
    .company-info__safe-info__nav {
      padding: 0;
      width: 50%; }

  .nav__link {
    margin-right: 20px; } }

/*# sourceMappingURL=style.css.map */
