*
  box-sizing: border-box
  margin: 0

a
  text-decoration: none
  color: white
.header
  width: 100%
  min-height: 880px
  background: #6500ff url(../img/background.png) no-repeat center
  color: white
  background-position: bottom
  // background-size: cover
.main
  min-height: 1000px

.container
  width: 75%
  max-width: 1350px
  margin: 0 auto

@media (max-width: 1199px)
  .container
    max-width: 960px

@media (max-width: 991px)
  .container
    max-width: 750px

@media (max-width: 768px)
  .container
    max-width: 100%
    padding: 0 30px
