*
  box-sizing: border-box
  margin: 0

a
  text-decoration: none
  color: white
.header
  position: fixed
  top: 0
  left: 0
  width: 100%
  min-height: 880px
  background: #6500ff url(../img/background.png) no-repeat center

  background-position: bottom
  // background-size: cover

.container
  width: 75%
  max-width: 1200px
  margin: auto
  color: white

@media (max-width: 1199px)
  .container
    max-width: 960px

@media (max-width: 991px)
  .container
    max-width: 750px

@media (max-width: 768px)
  .container
    max-width: 100%
    padding: 0 30px
