body
    +poppins

.button
    width: 120px
    text-align: center
    padding: 13px 32px
    border: none
    font-size: 18px
    display: inline-block
    border-radius: 23px
    background-color: #ff5f60
    color: white
    +raleway
    span
        margin: 10px
