body
    +poppins

.button

    text-align: center
    padding: 13px 32px
    border: none
    font-size: 18px
    display: inline-block
    border-radius: 23px
    background-color: #ff5f60
    color: white
    +raleway
    span
        margin: 10px
// img
//     width: 100%
//     height: auto
input
    border-radius: 23px
    padding: 10px
    text-align: center
    font-size: 13px
    margin-bottom: 50px