.hero
    display: flex
    margin-top: 150px
    &-text
        padding-top: 100px
        display: flex
        flex-direction: column
        &__title
            font-size: 70px
            line-height: 75px
            font-family: 'Raleway', sans-serif
            font-weight: bold
            margin: 0
        &__subtitle
            margin-top: 30px
            margin-bottom: 50px
            line-height: 30px
            margin-right: 45px
        &__btn
            font-weight: boldw
            width: 150px
    img
        width: 100%
        height: auto
@media (max-width: 1199px)
    .hero
        flex-direction: column
        align-items: center
        &-text
            align-items: center
            padding: 30px 0
            &__title
                font-size: 40px
            &__subtitle
                max-width: 300px
                text-align: center
                margin: 0
@media (max-width: 950px)
    .hero
        align-items: center
        &-wrap
            align-items: center
            line-height: 30px
            &__subtitle
                margin-bottom: 30px
                text-align: center
                margin-right: 0
        img
            margin-top: 35px
            width: 300px

@media (max-width: 768px)
    .hero
        margin-top: 0
        &__bg
            margin-top: 121px
