.main
    &__slider
        width: 539px
        height: 155px
        border: 1px solid red
    &__content
        display: flex
        &__image
            width: 572px
            height: 499px

        &__text
            min-width: 520px
            display: flex
            justify-content: space-between
            flex-direction: column
            color: black
            +raleway
            &__header
                font-size: 36px
            &__description
                color: #8c8c8c
                font-size: 18px
        &_first
            margin-top: 250px
        &_second
            padding-top: 160px

    &_first
        background: #ffffff url(../img/man-woman-bg.png) no-repeat center
        background-position: 60% 100px