
.navbar
    margin-top: 50px
    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 50px

    &__btn
        margin-left: 110px
.list
    display: flex
    justify-content: space-between
    margin-left: auto
    &__item
        margin-left: 5%
        font-size: 18px

@media (max-width: 768px)
    .header
        line-height: 2
    .navbar
        &-wrap
            flex-direction: column
            align-items: flex-start
        &__list
            flex-direction: column
            margin: 0
        &__btn
            margin-left: 0
