
.navbar
    &-wrap
        display: flex
        justify-content: space-between
        align-items: center
        min-height: 50px
        border: 1px solid red
    &__logo
        margin-right: 380px
.list
    display: flex
    justify-content: space-between
    list-style: none
    flex-wrap: wrap
    padding-left: 20px
    &:last-child
        margin-right: 110px
    &__item
        margin-left: 58px
        font-size: 18px
